<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>online.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineExam</servlet-name>
        <servlet-class>online.OnlineExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>online.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>online.feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rules</servlet-name>
        <servlet-class>online.rules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>online.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>online.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>online.StudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>online.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConf</servlet-name>
        <servlet-class>online.RegistrationConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>online.StudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>online.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConf</servlet-name>
        <servlet-class>online.AddConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuesList</servlet-name>
        <servlet-class>online.QuesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQues</servlet-name>
        <servlet-class>online.UpdateQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQues</servlet-name>
        <servlet-class>online.DeleteQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>online.ViewProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineExam</servlet-name>
        <url-pattern>/OnlineExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rules</servlet-name>
        <url-pattern>/rules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/StudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConf</servlet-name>
        <url-pattern>/RegistrationConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/StudentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConf</servlet-name>
        <url-pattern>/AddConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuesList</servlet-name>
        <url-pattern>/QuesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQues</servlet-name>
        <url-pattern>/UpdateQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQues</servlet-name>
        <url-pattern>/DeleteQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
